.showcase-section{
    margin: 2rem 0;

    & .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    & h1{
        font-size: 4.5rem;
        color: var(--primary-color);
    }

    & p{
        margin: 1.5rem 0;
    }
}